# Build folders
build/
cmake_build/
build_cross/
cmake-build-*/
out/

# IDEs / CI temp files
.idea/
.vagrant/
.vscode/
.vs/
*.swp

# Bazel artifacts
**/bazel-*
MODULE.bazel.lock

# Per-user bazelrc files
user.bazelrc

# Zig build artifacts
.zig-cache
zig-out
