name: AArch64 MacOS Bazel

on:
  push:
  pull_request:
  schedule:
    # min hours day(month) month day(week)
    - cron: '0 0 7,22 * *'

jobs:
  # Building using the github runner environement directly.
  bazel:
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install Bazel
        run: |
          brew update
          brew unlink bazelisk
          brew install bazel
      - name: Check Bazel
        run: bazel version
      - name: Build
        run: >
          bazel build
          -c opt
          --subcommands=true
          ...
      - name: Test
        run: >
          bazel test
          -c opt
          --test_output=errors
          ...
