name: amd64 Windows Zig

on: [push, pull_request]

jobs:
  run:
    strategy:
      matrix:
        target:
          - x86_64-windows-gnu
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
        with:
          version: latest
      - name: Build
        run: zig build -Dtarget=${{ matrix.target }}
      - name: Run list_cpu_features
        run: .\zig-out\bin\list_cpu_features.exe --json
