name: amd64 MacOS Zig

on: [push, pull_request]

jobs:
  run:
    strategy:
      matrix:
        target:
          - x86_64-macos-none
    runs-on: macos-15-intel  # Using x86 processors
    steps:
      - uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
        with:
          version: latest
      - name: Build
        run: zig build -Dtarget=${{ matrix.target }}
      - name: Run list_cpu_features
        run: ./zig-out/bin/list_cpu_features --json
